{{- if default true .Site.Params.BookSearch }}

<script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script>
{{- $fastsearchJS := resources.Get "fastsearch.js" | resources.Minify -}}
<script src="{{ $fastsearchJS.RelPermalink }}"></script>

{{ end -}}

<script>
    function activeHome() {
        let url = window.location.pathname;
        if(url == null || url.length == 0 || url == "/"){
            let a = document.querySelectorAll(".book-menu nav a");
            a.forEach(e => {if(e.innerHTML == "Home"){e.classList.add('active');}});
        }
    }
    activeHome();
</script>